<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>
    <div class="right-align">
        <button class="btn btn-warning btn-lg circluar" data-bs-toggle="modal" data-bs-target="#addNoteModal">
            <i class="bi bi-plus" id="plus-icon"></i>
        </button>
    </div>
    </div>
</section>
<div class="modal" id="addNoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Note</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <textarea id="noteContent" rows="10" cols="50" placeholder="Type your note here..."></textarea>
            </div>
            <div class="modal-footer">
                <button id="saveNoteInModalButton" type="button" class="btn btn-warning">Save Note</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
            </div>
            <div class="modal-footer">
                <button id="deleteNoteButton" type="button" class="btn btn-warning">Delete Note</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $.ajax({
        url: 'json/notes.json',
        dataType: 'json',
        success: function (notes) {
            var notesHtml = '';
            for (var i = 0; i < notes.length; i++) {
                notesHtml += `
            <div class="col mb-5">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">${notes[i].title}</h5>
                            <p style="margin-top: 10px;">${notes[i].content}</p>
                            <button type="button" class="btn btn-warning editButton">Edit</button>
                            <button type="button" class="btn btn-warning deleteButton" data-toggle="modal" data-target="#deleteModal">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        `;
            }
            $('.row').html(notesHtml);
            var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
            document.getElementById('deleteNoteButton').addEventListener('click', function () {
                alert('This note has been deleted.');
                deleteModal.hide();
            });



        },
        error: function () {
            console.log("An error occurred while fetching the notes data.");
        }
    });

    /*$(document).on('click', '.deleteButton', function () { 
        $('#deleteModal').modal('show');
        console.log("aa")
    }); */

    var myModal = new bootstrap.Modal(document.getElementById('addNoteModal'));
    document.getElementById('saveNoteInModalButton').addEventListener('click', function () {
        alert('The note has been added.');
        myModal.hide();
    });

    /*var deleteModal = new bootstrap.Modal(document.getElementById('deleteModal'));
    document.getElementsByClassName('deleteButton')[0].forEach(element => {
        element.addEventListener('click', function () {
            alert('This note has been deleted.');
            deleteModal.hide();
        });

    }); */







</script>