</header>
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>


                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->

                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product reviews-->

                            <!-- Product price-->


                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->

                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product reviews-->

                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->

                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">

                    </div>
                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Sale badge-->

                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product reviews-->

                            <!-- Product price-->

                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->

                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Note</h5>
                            <button type="button" class="btn btn-warning">Edit</button>
                            <button type="button" class="btn btn-warning">Delete</button>
                            <!-- Product reviews-->

                        </div>
                    </div>
                    <!-- Product actions-->

                </div>
            </div>
        </div>
    </div>
    <div class="right-align">
        <button class="btn btn-warning btn-lg circluar" data-bs-toggle="modal" data-bs-target="#addNoteModal"><i
                class="bi bi-plus" id="plus-icon"></i></button>
    </div>
</section>