<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

        </div>
    </div>
    </div>
    </div>

    </div>
    </div>
    </div>
    <div class="right-align">
        <button class="btn btn-warning btn-lg circluar" data-bs-toggle="modal" data-bs-target="#addNoteModal">
            <i class="bi bi-plus" id="plus-icon"></i>
        </button>
    </div>
    </div>
</section>
<div class="modal" id="addNoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">New Note</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input id="noteTitle" class="form-control" type="text" placeholder="Enter Title">
                <textarea id="noteContent" rows="10" cols="50" placeholder="Type your note here..."></textarea>
            </div>
            <div class="modal-footer">
                <button id="saveNoteInModalButton" type="button" class="btn btn-warning">Save Note</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="editNoteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Note</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <input type="hidden" id="editNoteId" name="editNoteId" value="" />
                <input id="editNoteTitle" class="form-control" type="text" placeholder="Enter Title">
                <textarea id="editNoteContent" rows="10" cols="50" placeholder="Type your note here..."></textarea>
            </div>
            <div class="modal-footer">
                <button id="saveEditedNoteInModalButton" type="button" class="btn btn-warning">Edit Note</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="deleteModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Modal body text goes here.</p>
                <input type="hidden" id="noteId" name="noteId" value="" />
            </div>
            <div class="modal-footer">
                <button id="deleteNoteButton" type="button" class="btn btn-warning">Delete Note</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script>
    function setDeleteNote(id) {
        var myModal = new bootstrap.Modal(document.getElementById("deleteModal"));
        myModal.show();
        $('#noteId').val(id);

    }
    $("#saveNoteInModalButton").click(function () {
        var noteContent = $('#noteContent').val(); // Make sure this ID matches the ID of your textarea

        if (noteContent === '') {
            alert('Notes content cannot be empty');
            return;
        }

        Utils.block_ui("#addNoteModal");

        $.ajax({
            url: Constants.API_BASE_URL + "/notes", 
            type: "POST",
            data: { content: noteContent },
            beforeSend: function(request) {
            console.log('Got to here');
            console.log(window.localStorage.getItem('token'));
            request.setRequestHeader("Authentication",  window.localStorage.getItem('token'));
            },
        })
        .done(function (data) {
                Utils.unblock_ui("#addNoteModal");
                $("#addNoteModal").modal("toggle");
                toastr.success("You have successfully added the note.");
                NoteService.get_notes();
            })
            .fail(function (xhr) {
                toastr.error("Error adding note.");
            });

    });
    NoteService.get_notes();




  



    var myModal = new bootstrap.Modal(document.getElementById('addNoteModal'));
    document.getElementById('saveNoteInModalButton').addEventListener('click', function () {
        const titleInput = document.getElementById("noteTitle");
        const title = titleInput.value;
        const contentInput = document.getElementById("noteContent");
        const content = contentInput.value;
        const note = {
            id: null,
            title: title,
            content: content
        };
        NoteService.add_note(note);
        myModal.hide();
    });

    var myModal = new bootstrap.Modal(document.getElementById('addNoteModal'));
    document.getElementById('deleteNoteButton').addEventListener('click', function () {
        const noteId = document.getElementById("noteId").value;
        NoteService.delete_note(noteId);

    });


    document.getElementById('saveEditedNoteInModalButton').addEventListener('click', function () {
        const noteId = document.getElementById("editNoteId").value;
        const titleInput = document.getElementById("editNoteTitle");
        const title = titleInput.value;
        const contentInput = document.getElementById("editNoteContent");
        const content = contentInput.value;
        const note = {
            title: title,
            content: content
        };
        NoteService.edit_note(noteId, note);

    });

</script>